/**
 * Enterprise   MONALYSE
 * Summary      MONALYSE + TechnicalTestMonalyse
 * @author      Alejandro D. Bakker Antezana.
 * @since       Thursday, 14/03/2019
 * @version     1.0.0 / PHP Version: 7.3.1
 */

body {
    color: #333333;
    background-size: 7%;
    background-color: white;
    background-image: url("alpha.background.svg");
    background-repeat: no-repeat;
    background-position: top right;
    max-width: 100% ! important;
    /*overflow: hidden;*/
    text-align: center;
    vertical-align: middle;
}

a, .card a {
    color: gold;
}

.cls-welcome-title {
    width: 100%;
    margin-bottom: 28px;
    text-align: center;
    font-weight: bolder;
}

.cls-float-left {
    height: 420px;
    margin-left: 11px;
    margin-right: 11px;
    float: left;
}

.cls-demo-description {
    margin-top: 35px;
}

.cls-card-description {
    text-align: center;
}

.cls-row {
    margin-bottom: 91px;
}

a:hover, .card a:hover {
    color: white ! important;
}

/* Overwritten Styles*/
.navbar {
    color: white ! important;
    background-color: black ! important;
}

.navbar-light .navbar-nav .nav-link {
    color: white ! important;
}

.navbar-light:hover .navbar-nav:hover .nav-link:hover {
    color: gold ! important;
}

.navbar-light .navbar-brand, .navbar-light .navbar-light {
    color: white ! important;
}

.navbar-brand:hover {
    color: gold ! important;
}

.card {
    width: 100%;
    height: 100%;
    color: white;
    border: solid 1px white;
    background: rgba(255, 255, 255, 0.07);
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 7px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    overflow: hidden;
    margin-bottom: 0px ! important;
}

.btn-primary {
    border: solid 1px black ! important;
    color: black ! important;
    background-color: gold ! important;
}

.btn-primary:hover {
    border: solid 1px white ! important;
    color: white ! important;
    background-color: gold ! important;
}
